.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
  margin-bottom: 50px;
}

.App-header > h1 {
  color: dodgerblue;
}

.App-header > h1, h2 {
  cursor: pointer;
}

.App-header > h2:hover {
  color: dodgerblue;
}
.App-header > h1:hover {
  color: white;
}


.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
  
}

li {
  margin: 15px 5px;
  cursor: pointer;
  margin-left: 20%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.logo {
  width: 250px;
  height: 125px;
  cursor: pointer;
}




/* Alerts */
.pure-alert {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  background: #ccc;
  border-radius: 3px;
}

.pure-alert label {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  white-space: nowrap;
}

.pure-alert {
  background-color: rgb(209, 235, 238);
  color: rgb(102, 131, 145);
}
.pure-alert-error {
  background-color: #D13C38;
  color: #fff;
}

.pure-alert-warning {
  background-color: rgb(250, 191, 103);
  color: rgb(151, 96, 13);
}

.pure-alert-success {
  background-color: rgb(83, 180, 79);
  color: #fff;
}
