.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
  margin-top: 20px;
}

.categories-list > form {
  width: 60%;
}

.categories-list > ul > li:hover {
    color: dodgerblue;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 1px lightgrey solid;
  text-align: left;
  margin: 15px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
  align-items: center;
  padding: 10px 10px 10px 35px;
  justify-content: space-between;
}

.question-icon {
  float: left;
  padding-top: 5px;
}

.Question {
  font-size: 20px;
  float: left;
  width: 90%;
  line-height: 150%;
}

.question-actions {
  float: right;
}



.answer-holder {
  font-size: 18px;
  height: 25px;
  margin: 5px 5px;
  border: 1px lightskyblue solid;
  padding: 10px 20px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  padding: 3px 10px;
  cursor: pointer;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

span.page-num.active {
  color: blue;
}

img.delete {
  width: 20px;
  filter: opacity(0.5);
}
img.delete:hover {
  filter: opacity(1);
}

.question-actions:hover {
  cursor: pointer;
}